:root {
  --clr-olive-dark: rgba(70, 96, 19, 0.6);
  --clr-olive: olivedrab;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #635555;
  --clr-trans: #ffffff00;
  --clr-yellow: #fbff00;
  --clr-rebeca: #791753;
}

.btn-message {
  background-color: var(--clr-trans);
  color: var(--clr-white);
}

.btn-signin, .btn-register {
  background-color: var(--clr-trans);
  color: var(--clr-white);
}

.btn-circle {
  background-color: var(--clr-olive);
  border-color: var(--clr-trans);
}
.btn-circle::active {
  background-color: orange;
}
.btn-circle:active {
  background-color: black;
}

.bg-dark .btn-signin {
  background-color: var(--clr-gray);
  color: var(--clr-olive);
}
.bg-dark .btn-register {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
}

.bg-orange .btn-signin {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
}
.bg-orange .btn-register {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
}

.bg-color-primary {
  background-color: var(--clr-olive);
}

.clr-bg-2 {
  background-color: var(--clr-white);
}

.clr-bg-dark {
  background-color: var(--clr-olive-dark);
}

a {
  color: var(--clr-white);
}

h1 {
  color: var(--clr-white);
}

h2 {
  color: var(--clr-black);
}

.bg-dark h1 {
  color: var(--clr-rebeca);
}
.bg-dark h2 {
  color: var(--clr-yellow);
}

label {
  color: var(--clr-black);
}

p {
  color: var(--clr-white);
}