@mixin btn {
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: .2em;

  &:hover {
    text-decoration: underline;
  }
}

@mixin btn-circle ($border-r, $circle-height, $circle-aspect, $circle-border) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $circle-border, solid;
  border-radius: $border-r;
  height: $circle-height;
  aspect-ratio: $circle-aspect;
  cursor: pointer;
}