@mixin btn-color ($bg-color, $text-color) {
  background-color: var($bg-color);
  color: var($text-color);
}

@mixin btn-circle ($bg-color, $border-color) {
  background-color: var($bg-color);
  border-color: var($border-color);

  &::active {
    background-color: orange;
  }
}

@mixin link-color ($text-color) {
  color: var($text-color);
}

@mixin theme-buttons($bg-color, $btn-dark-colors, $second-color) {
  .bg-#{$bg-color} {
    .btn-signin {
      @include btn-color($btn-dark-colors...);
    }

    .btn-register {
      @include btn-color($second-color...);
    }
  }
}

@mixin heading-colors ($h1-color, $h2-color) {
  h1 {
    color: var($h1-color);
  }

  h2 {
    color: var($h2-color);
  }
}

@mixin theme-headings ($bg-color, $h1-color, $h2-color) {
  .bg-#{$bg-color} {
    @include heading-colors($h1-color, $h2-color);
  }
}