:root {
  --clr-olive-dark: rgba(70, 96, 19, 0.6);
  --clr-olive: olivedrab;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #635555;
  --clr-trans: #ffffff00;
  --clr-yellow: #fbff00;
  --clr-rebeca: #791753;
}

// :root.dark-theme {

// }