.container-padding {
  padding: 1.5rem;
}

.padding-inline {
  padding-inline: 1.5rem;
}

.container-profile {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.container-profile-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

nav div {
  display: flex;
  justify-content: space-between;
}

@media (width >=576px) {
  .container-profile {
    padding-inline: 0;
  }
  .cl-even, .container-profile, .test {
    max-width: 550px;
    margin-inline: auto;
  }
}